@page "/comprar/detailcarr/{pId:int}"
@using ProyectoStore.EN;
@inject HttpClient Http
@inject NavigationManager NavManager;

<h3>DetailCompra</h3>
<input type="hidden" @bind-value="comprar.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" @bind-value="comprar.Nombre" readonly />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" @bind-value="comprar.Apellido" readonly />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Telefono</label>
        <input type="text" class="form-control" @bind-value="comprar.Telefono" readonly />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Direccion</label>
        <input type="text" class="form-control" @bind-value="comprar.Direccion" readonly />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success" @onclick="EnviarModificarcomprar">Ir a Modificar</button>
        <button class="btn btn-secondary" @onclick="returnIndex">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoModificar</span>
    </div>
</div>

@code {

    Comprar comprar = new Comprar();
    string resultadoModificar = "";

    [Parameter]
    public int pId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (pId != 0)
        {
            comprar = await Http.GetFromJsonAsync<Comprar>("Comprar/" + pId);
        }
        else
        {
            resultadoModificar = "No se encontro el registro seleccionado";
        }
    }

    public async Task EnviarModificarcomprar()
    {
        try
        {
            if (pId != 0)
            {
                NavManager.NavigateTo($"/comprar/modifycarr/{pId}");
            }
            else
            {
                resultadoModificar = "No se seleccion un Registro";
            }
        }
        catch (Exception ex)
        {
            resultadoModificar = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/comprar/index");
    }

}
