@page "/comprar/index"
@using ProyectoStore.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager;
<PageTitle>Comprar</PageTitle>
<button class="btn btn-primary" @onclick="newComprar">Nuevo Comprar</button>


<h3>Buscar</h3>

@if (comprars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th colspan="3">Acciones</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var comprar in comprars)
            {
                <tr>
                    <td>@comprar.Nombre</td>
                    <td>@comprar.Apellido</td>
                    <td>@comprar.Telefono</td>
                    <td>@comprar.Direccion</td>
                    <td>
                        <button class="btn btn-success"
                        @onclick="(() => goModify(comprar.Id))">
                            Modificar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                        @onclick="(() => goDelete(comprar.Id))">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info"
                        @onclick="(() => goDetail(comprar.Id))">
                            Ver
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Comprar[]? comprars;

    protected override async Task OnInitializedAsync()
    {
        comprars = await Http.GetFromJsonAsync<Comprar[]>("Comprar");
    }

    void newComprar()
    {
        NavManager.NavigateTo("/comprar/registercarr");
    }

    void goModify(int pId)
    {
        NavManager.NavigateTo($"/comprar/modifycarr/{pId}");
    }

    void goDelete(int pId)
    {
        NavManager.NavigateTo($"/comprar/deletecarr/{pId}");
    }

    void goDetail(int pId)
    {
        NavManager.NavigateTo($"/comprar/detailcarr/{pId}");
    }

}
