@page "/comprar/modifycarr/{pId:int}"
@using ProyectoStore.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager



<h3>ModifyCompra</h3>
<input type="hidden" @bind-value="comprar.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" @bind-value="comprar.Nombre" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" @bind-value="comprar.Apellido" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Telefono</label>
        <input type="text" class="form-control" @bind-value="comprar.Telefono" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Direccion</label>
        <input type="text" class="form-control" @bind-value="comprar.Direccion" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="Modificarcomprar">Guardar</button>
        <button class="btn btn-secondary" @onclick="returnIndex">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoModificar</span>
    </div>
</div>


@code {

    Comprar comprar = new Comprar();
    string resultadoModificar = "";

    [Parameter]
    public int pId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (pId != 0)
        {
            comprar = await Http.GetFromJsonAsync<Comprar>("Comprar/" + pId);
        }
        else
        {
            resultadoModificar = "No se encontro el registro seleccionado";
        }
    }

    public async Task Modificarcomprar()
    {
        try
        {
            var resultado = await Http.PutAsJsonAsync<Comprar>("Comprar/" + comprar.Id, comprar);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                returnIndex();
            }
            else
            {
                resultadoModificar = "Error al Modificar el comprar";
            }
        }
        catch (Exception ex)
        {
            resultadoModificar = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/comprar/index");
    }

}
