@page "/administracion/index"
<h3>Bienvenido Admisnitrador</h3>
<a href="carrito/index" type="button" class="btn btn-outline-primary">Carrito</a>
<a href="comprar/index" type="button" class="btn btn-outline-secondary">Comprar</a>
<button type="button" class="btn btn-outline-success">Laptops</button>
<a href="registro/index" type="button" class="btn btn-outline-danger">Registro</a>
<a href="Rol/index" type="button" class="btn btn-outline-warning">Rol</a>
<button type="button" class="btn btn-outline-info">SmartPhone</button>
<button type="button" class="btn btn-outline-success">Tablets</button>
<button type="button" class="btn btn-outline-info">Usuario</button>

@code {

}
