@page "/carrito/detailcarr/{pId:int}"
@using ProyectoStore.EN;
@inject HttpClient Http
@inject NavigationManager NavManager;

<h3>DetailCarr</h3>
<input type="hidden" @bind-value="carrito.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">NombreDeProducto</label>
        <input type="text" class="form-control" @bind-value="carrito.NombreDeProducto" readonly />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success" @onclick="EnviarModificarCarrito" >Ir a Modificar</button>
        <button class="btn btn-secondary" @onclick="returnIndex" >Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoModificar</span>
    </div>
</div>

@code {

    Carrito carrito = new Carrito();
    string resultadoModificar = "";

    [Parameter]
    public int pId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (pId != 0)
        {
            carrito = await Http.GetFromJsonAsync<Carrito>("Carrito/" + pId);
        }
        else
        {
            resultadoModificar = "No se encontro el registro seleccionado";
        }
    }

    public async Task EnviarModificarCarrito()
    {
        try
        {
            if (pId != 0)
            {
                NavManager.NavigateTo($"/carrito/modifycarr/{pId}");
            }
            else
            {
                resultadoModificar = "No se seleccion un Registro";
            }
        }
        catch (Exception ex)
        {
            resultadoModificar = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/carrito/index");
    }

}
