@page "/carrito/registercarr"
@using ProyectoStore.EN;
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>RegisterCarrito</h3>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">NombreProducto</label>
        <input type="text" class="form-control" @bind="carrito.NombreDeProducto" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="RegistrarCarrito">Guardar</button>
        <button class="btn btn-secondary" @onclick="returnIndex">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoRegistro</span>
    </div>
</div>
@code {
    Carrito carrito = new Carrito();
    string resultadoRegistro = "";

    public async Task RegistrarCarrito()
    {
        try
        {
            var resultado = await Http.PostAsJsonAsync<Carrito>("Carrito", carrito);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                returnIndex();
            }
            else
            {
                resultadoRegistro = "Error al registrar el Carrito";
            }
        }
        catch (Exception ex)
        {
            resultadoRegistro = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/carrito/index");
    }
}
