@page "/registro/index"
@using ProyectoStore.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager;
<PageTitle>Registro</PageTitle>
<button class="btn btn-primary" @onclick="newRegistro">Nuevo registro</button>

<h3>Buscar</h3>

@if (registros == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Contraseña</th>
             
                <th colspan="3">Acciones</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var registro in registros)
            {
                <tr>
                    <td>@registro.Correo</td>
                    <td>@registro.Usuario</td>
                    <td>@registro.Contraseña</td>
                  
                    <td>
                        <button class="btn btn-success"
                        @onclick="(() => goModify(registro.Id))">
                            Modificar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                        @onclick="(() => goDelete(registro.Id))">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info"
                        @onclick="(() => goDetail(registro.Id))">
                            Ver
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Registro[]? registros;

    protected override async Task OnInitializedAsync()
    {
        registros = await Http.GetFromJsonAsync<Registro[]>("Registro");
    }

    void newRegistro()
    {
        NavManager.NavigateTo("/registro/registerre");
    }

    void goModify(int pId)
    {
        NavManager.NavigateTo($"/registro/modifyre/{pId}");
    }

    void goDelete(int pId)
    {
        NavManager.NavigateTo($"/registro/deletere/{pId}");
    }

    void goDetail(int pId)
    {
        NavManager.NavigateTo($"/registro/detailre/{pId}");
    }

}
