@page "/registro/modifyre/{pId:int}"
@using ProyectoStore.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager



<h3>ModifyCarr</h3>
<input type="hidden" @bind-value="registro.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Correo</label>
        <input type="text" class="form-control" @bind-value="registro.Correo" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Usuario</label>
        <input type="text" class="form-control" @bind-value="registro.Usuario" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Contraseña</label>
        <input type="text" class="form-control" @bind-value="registro.Contraseña" />
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="Modificarregistro">Guardar</button>
        <button class="btn btn-secondary" @onclick="returnIndex">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoModificar</span>
    </div>
</div>


@code {

    Registro registro = new Registro();
    string resultadoModificar = "";

    [Parameter]
    public int pId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (pId != 0)
        {
            registro = await Http.GetFromJsonAsync<Registro>("Registro/" + pId);
        }
        else
        {
            resultadoModificar = "No se encontro el registro seleccionado";
        }
    }

    public async Task Modificarregistro()
    {
        try
        {
            var resultado = await Http.PutAsJsonAsync<Registro>("Registro/" + registro.Id, registro);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                returnIndex();
            }
            else
            {
                resultadoModificar = "Error al Modificar el registro";
            }
        }
        catch (Exception ex)
        {
            resultadoModificar = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/registro/index");
    }

}
