@page "/smartphone/deletephone/{pId:int}"
@using ProyectoStore.EN;
@inject HttpClient Http
@inject NavigationManager NavManager


<h3>DeletePhone</h3>
<input type="hidden" @bind-value="smartphone.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" @bind-value="smartphone.Nombre" readonly />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Detalle</label>
        <input type="text" class="form-control" @bind-value="smartphone.Detalle" readonly />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label"> precio</label>
        <input type="text" class="form-control" @bind-value="smartphone.Precio" readonly />
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-danger" @onclick="Eliminarsmartphone">Eliminar</button>
        <button class="btn btn-secondary" @onclick="returnIndex">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoModificar</span>
    </div>
</div>

@code {

    SmartPhone smartphone = new SmartPhone();
    string resultadoModificar = "";

    [Parameter]
    public int pId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (pId != 0)
        {
            smartphone = await Http.GetFromJsonAsync<SmartPhone>("smartphone/" + pId);
        }
        else
        {
            resultadoModificar = "No se encontro el registro seleccionado";
        }
    }

    public async Task Eliminarsmartphone()
    {
        try
        {
            var resultado = await Http.DeleteAsync("smartphone/" + smartphone.Id);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                returnIndex();
            }
            else
            {
                resultadoModificar = "Error al Modificar el smartphone";
            }
        }
        catch (Exception ex)
        {
            resultadoModificar = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/smartphone/index");
    }

}

