@inherits LayoutComponentBase

<PageTitle>Store.Blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <Menu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="administracion/index" target="_blank">Administracion</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
